.home
    background-image: inline("./assets/img/svg/testPictoSvg.svg")
    display: flex
    flex-direction: columns 
    justify-content: center
    border: 3px solid black
    border-radius: 50px